---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 15px !important;
}

.masthead__menu {
  font-size: 1.2rem !important;
  font-weight: 800 !important;
}

.sidebar {
  .author__name {
    font-size: 1.4rem !important;
    font-weight: 800 !important;
    white-space: nowrap;
    display: block;
  }
  
  .author__bio, .author__urls {
    font-size: 1rem !important;
    line-height: 1.4;
  }
  
  .author__urls-wrapper i {
    font-size: 1.2rem !important;
  }
}

.page__content, .archive__item-excerpt {
  font-size: 1rem !important;
  line-height: 1.6;
}

.archive__item-title {
  font-size: 1.2rem !important;
  font-weight: 700;
}
