---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.masthead__menu-item {
  font-size: 1.1rem !important; 
  font-weight: 700 !important;   
}

.masthead__menu-item a {
  padding: 0.5rem 1rem !important; 
}

.sidebar {
  font-size: 1rem !important; 
  
  .author__name {
    font-size: 1.3rem !important; 
    font-weight: 800 !important;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .author__bio {
    font-size: 0.95rem !important; 
    line-height: 1.4;
  }
}

.author__urls-wrapper button {
  font-size: 1.1rem !important;
}
