---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  font-size: 15px !important; 
}

.archive__item-title {
  font-size: 1.1rem !important; 
  margin-bottom: 0.5em;
}

.sidebar {
  font-size: 0.9rem !important;
  
  .author__name {
    font-size: 1.1rem !important;
    white-space: nowrap; 
  }
}

.page__content {
  font-size: 1rem !important;
  line-height: 1.5; 
}
